{% load static %}

<div class="index-cards-container" style="height: 700px; margin: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="index-card">
                <img class="index-card-img" src=" " alt="Card image cap">
                <div class="index-card-body">
                    <h5 class="index-card-title" style="margin-left: 160px;">Card Title 1</h5>
                    <a href="#" class="index-card-button">Explore Category 1</a> <!-- Updated button class -->
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height: 700px;">
            <div class="index-card" style="height: 600px;">
                <img class="index-card-img" src="Assets/image/index category2.jpg" alt="Card image cap" style="height: 610px;">
                <div class="index-card-body">
                    <h5 class="index-card-title" style="margin-left: 160px;">Card Title 2</h5>
                    <a href="#" class="index-card-button">Discover Category 2</a> <!-- Updated button class -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="index-card">
                <img class="index-card-img" src="Assets/image/index category3.jpg" alt="Card image cap">
                <div class="index-card-body">
                    <h5 class="index-card-title" style="margin-left: 160px;"    >Card Title 3</h5>
                    <a href="#" class="index-card-button">Join Category 3</a> <!-- Updated button class -->
                </div>
            </div>
        </div>
    </div>
</div>
